<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

<mat-toolbar>
  <button matIconButton class="example-icon" [matMenuTriggerFor]="userMenu" aria-label="Menu do Usuário">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Menu Dropdown -->
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>{{userName()}}</span>
      </button>
      <button mat-menu-item (click)="editProfile()">
        <mat-icon>manage_accounts</mat-icon>
        <span>Alterar Dados</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon color="warn">logout</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>

  <img src="../../assets/images/logo-barber-shop.png" alt="Barber Shop Logo" class="logo-img">
  <span class="title">Barber Shop</span>
  <span class="example-spacer"></span>
  <button matIconButton class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button matIconButton class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<app-card-header>{{title()}}</app-card-header>
<app-menu-bar></app-menu-bar>
<main>
  <router-outlet></router-outlet>
</main>
