.title-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-mdc-card-title {
    font-size: 2rem;
    font-weight: bold;
}

.card-title {
    display: flex;
    align-items: center;     /* Alinha o texto verticalmente no centro */
    height: 60px;            /* Exemplo: o elemento precisa de uma altura (height) definida para que o centro vertical faça sentido */
}